.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
} */

.App-logo {
  height: 50vmin;
  display: block;
  width: 50vmin;
  border-radius: 50%;
  background: #6b6963;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(107,105,99, 0.4);
  animation: pulse 2s infinite;
}
.App-logo:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(107,105,99, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(107,105,99, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(107,105,99, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(107,105,99, 0.4);
    box-shadow: 0 0 0 0 rgba(107,105,99, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(107,105,99, 0);
      box-shadow: 0 0 0 10px rgba(107,105,99, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(107,105,99, 0);
      box-shadow: 0 0 0 0 rgba(107,105,99, 0);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
